$vue-blue: #35495e;
$vue-green: #41b883;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font: 16px verdana;
  color: #000;
  background: #404040;
}

main {
  background: #fff;
  max-width: 960px;
  min-height: 100vh;
  margin: auto;
  padding: 1.25rem;
}

h2 {
  font: 1.5rem verdana;
  // background: #e0e0e0;
  margin: 2rem 0 1rem;
  // padding: .5rem 0;
}

section {
}

section {
  .job {
    // background: #f0f0f0;
    // border-bottom: 1px solid #a0a0a0;
    box-sizing: content-box;
    // border: 2px solid #fff;
    // outline: 2px solid $vue-blue;
    width: 100%;
    margin-top: 1rem;

    &-title {
      font-size: 1.25rem;
      color: #fff;
      background: $vue-blue;
      // background: #606060;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 3rem;
      // line-height: 2.5rem;
      padding: 2px 2px 2px .5rem;

      .interval {
        font: 1rem verdana, "lucida console";
        // font-size: 15px;
        font-weight: bold;
        color: #fff;
        // background: #fff;
        background: $vue-green;
        text-shadow: 1px 1px 1px #000;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 .5rem;
        position: relative;

        &:before {
          content: '';
          border-left: 10px solid transparent;
          border-right: 10px solid $vue-green;
          border-top: 22px solid transparent;
          border-bottom: 22px solid $vue-green;
          display: block;
          position: absolute;
          left: -20px;
        }
      }
    }

    &-subtitle {
      font-size: 1rem;
      font-weight: bold;
      color: #000;
      // background: $vue-green;
      border-bottom: 2px solid $vue-green;
      // height: 2rem;
      // line-height: 2rem;
      margin: 0 .5rem;
      padding: 0.5rem 0rem;
    }

    h3 {
      font-weight: bold;
      margin-top: .75rem;
      padding: 0 .5rem;
    }

    p {
      // background: #f0f0f0;
      line-height: 1.5;
      // margin-left: .5rem;;
      padding: 0.25rem 1.5rem;
    }

    ul {
      padding: 0.25rem 1.5rem;

      li {
        padding: .25rem 1rem;
        position: relative;
        &:before {
          content: '';
          display: block;
          background: #808080;
          border-radius: 50%;
          width: 8px;
          height: 8px;
          position: absolute;
          left: 0;
          top: 10px;
        }
      }
    }
  }
}
